.site-layout-content {
  height: 500px;
  padding: 24px;
  background: #fff;
  margin-top: 16px;
}
.cate {
  margin-top: 16px;
  .row {
    display: flex;
    margin-bottom: 10px;
    .name {
      flex: 0 0 60px;
      font-size: 16px;
      font-weight: 600;
    }
    .ks {
      flex: 1;
      span {
        cursor: pointer;
        margin-right: 16px;
        margin-bottom: 16px;
        font-size: 14px;
        display: inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
